{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<h1 class="mb-4">Inscription</h1>
<form class="mx-auto" style="max-width: 400px;">
    <div class="mb-3">
        <label for="registerEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="registerEmail" placeholder="email@example.com">
    </div>
    <div class="mb-3">
        <label for="registerPassword" class="form-label">Mot de passe</label>
        <input type="password" class="form-control" id="registerPassword" placeholder="Mot de passe">
    </div>
    <div class="mb-3">
        <label for="registerConfirmPassword" class="form-label">Confirmer le mot de passe</label>
        <input type="password" class="form-control" id="registerConfirmPassword" placeholder="Confirmer">
    </div>
    <button type="submit" class="btn btn-success w-100">S'inscrire</button>
</form>
{% endblock %}
